* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
    margin-top: 3.5em;
}

section { 
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: 3.5em auto;
    box-sizing: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

section select {
    margin-top: 20px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}